{% extends 'base.html' %}


{% block container %}
<div class="ui centered grid">
  <div class="ui ten wide column">
    <div class="ui placeholder segment">
      <div class="ui column stackable center aligned grid">
        <div class="middle aligned row">
          <div class="column">
            <div class="ui icon header">
              <i class="location arrow icon"></i>
              Find Temperature For Location
            </div>

            <div class="field">
              <div class="ui search">
                <div class="ui icon input">
                  <form method="get" action=".">
                    {{ form.non_field_errors }}
                    <div class="ui icon input">
                      {{ form.subject.errors }}
                      {{ form.location }}
                    </div>
                    <input class="ui blue button" type="submit" value="Get temperature">
                  </form>
                </div>
              </div>
            </div>

            <h1>{{ weather }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .field form input[type='submit'] {
    margin-top: 1rem;
  }
</style>
{% endblock %}
