<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
  <title>Temperature by location</title>

  {% block header %}
  {% endblock %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
  <link rel="stylesheet" href="{% static 'core/base.css' %}">
  {% block style %}
  {% endblock %}
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a class="header item">OnSign TV Temperature</a>
    </div>
  </div>

  <div class="ui fluid main container" id="base-content">
    {% block container %}
    {% endblock %}
  </div>

<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
{% block script %}
{% endblock %}

</body>

</html>
